<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clothing.module.mapper.ItemunitMapper">
    
    <resultMap type="Itemunit" id="ItemunitResult">
        <result property="fid"    column="fid"    />
        <result property="fcode"    column="fcode"    />
        <result property="fname"    column="fname"    />
        <result property="fdescription"    column="fdescription"    />
        <result property="fstatus"    column="fstatus"    />
        <result property="fuserid"    column="fuserid"    />
        <result property="fcreatetime"    column="fcreatetime"    />
        <result property="flastupdateuserid"    column="flastupdateuserid"    />
        <result property="flastupdatetime"    column="flastupdatetime"    />
        <result property="fcu"    column="fcu"    />
    </resultMap>
	
	<sql id="selectItemunitVo">
        select fid, fcode, fname, fdescription, fstatus, fuserid, fcreatetime, flastupdateuserid, flastupdatetime, fcu from sys_itemunit
    </sql>
	
    <select id="selectItemunitList" parameterType="Itemunit" resultMap="ItemunitResult">
        <include refid="selectItemunitVo"/>
        <where>  
            <if test="fid != null "> and fid = #{fid}</if>
             <if test="fcode != null  and fcode != '' "> and fcode = #{fcode}</if>
             <if test="fname != null  and fname != '' "> and fname = #{fname}</if>
             <if test="fdescription != null  and fdescription != '' "> and fdescription = #{fdescription}</if>
             <if test="fstatus != null  and fstatus != '' "> and fstatus = #{fstatus}</if>
             <if test="fuserid != null  and fuserid != '' "> and fuserid = #{fuserid}</if>
             <if test="fcreatetime != null "> and fcreatetime = #{fcreatetime}</if>
             <if test="flastupdateuserid != null  and flastupdateuserid != '' "> and flastupdateuserid = #{flastupdateuserid}</if>
             <if test="flastupdatetime != null "> and flastupdatetime = #{flastupdatetime}</if>
             <if test="fcu != null  and fcu != '' "> and fcu = #{fcu}</if>
         </where>
    </select>
    
    <select id="selectItemunitById" parameterType="Integer" resultMap="ItemunitResult">
        <include refid="selectItemunitVo"/>
        where fid = #{fid}
    </select>
        
    <insert id="insertItemunit" parameterType="Itemunit">
        insert into sys_itemunit
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="fid != null  ">fid,</if>
			<if test="fcode != null  and fcode != ''  ">fcode,</if>
			<if test="fname != null  and fname != ''  ">fname,</if>
			<if test="fdescription != null  and fdescription != ''  ">fdescription,</if>
			<if test="fstatus != null  and fstatus != ''  ">fstatus,</if>
			<if test="fuserid != null  and fuserid != ''  ">fuserid,</if>
			<if test="fcreatetime != null  ">fcreatetime,</if>
			<if test="flastupdateuserid != null  and flastupdateuserid != ''  ">flastupdateuserid,</if>
			<if test="flastupdatetime != null  ">flastupdatetime,</if>
			<if test="fcu != null  and fcu != ''  ">fcu,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="fid != null  ">#{fid},</if>
			<if test="fcode != null  and fcode != ''  ">#{fcode},</if>
			<if test="fname != null  and fname != ''  ">#{fname},</if>
			<if test="fdescription != null  and fdescription != ''  ">#{fdescription},</if>
			<if test="fstatus != null  and fstatus != ''  ">#{fstatus},</if>
			<if test="fuserid != null  and fuserid != ''  ">#{fuserid},</if>
			<if test="fcreatetime != null  ">#{fcreatetime},</if>
			<if test="flastupdateuserid != null  and flastupdateuserid != ''  ">#{flastupdateuserid},</if>
			<if test="flastupdatetime != null  ">#{flastupdatetime},</if>
			<if test="fcu != null  and fcu != ''  ">#{fcu},</if>
         </trim>
    </insert>
	 
    <update id="updateItemunit" parameterType="Itemunit">
        update sys_itemunit
        <trim prefix="SET" suffixOverrides=",">
            <if test="fcode != null  and fcode != ''  ">fcode = #{fcode},</if>
            <if test="fname != null  and fname != ''  ">fname = #{fname},</if>
            <if test="fdescription != null  and fdescription != ''  ">fdescription = #{fdescription},</if>
            <if test="fstatus != null  and fstatus != ''  ">fstatus = #{fstatus},</if>
            <if test="fuserid != null  and fuserid != ''  ">fuserid = #{fuserid},</if>
            <if test="fcreatetime != null  ">fcreatetime = #{fcreatetime},</if>
            <if test="flastupdateuserid != null  and flastupdateuserid != ''  ">flastupdateuserid = #{flastupdateuserid},</if>
            <if test="flastupdatetime != null  ">flastupdatetime = #{flastupdatetime},</if>
            <if test="fcu != null  and fcu != ''  ">fcu = #{fcu},</if>
        </trim>
        where fid = #{fid}
    </update>

	<delete id="deleteItemunitById" parameterType="Integer">
        delete from sys_itemunit where fid = #{fid}
    </delete>
	
    <delete id="deleteItemunitByIds" parameterType="String">
        delete from sys_itemunit where fid in 
        <foreach item="fid" collection="array" open="(" separator="," close=")">
            #{fid}
        </foreach>
    </delete>
    
</mapper>