<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clothing.dao.ItemSkuDao">
	<resultMap id="ItemSkuResult" type="com.clothing.model.item.ItemSku">
		<result property="id" column="fid" />
		<result property="item.id" column="fkitemid" />
		<result property="size" column="fsize" />
		<result property="color" column="fcolor" />
		<result property="barCode" column="fbarcode" />
		<result property="status" column="fstatus" />
	</resultMap>
	<select id="getItemSkuById" parameterType="string" resultMap="ItemSkuResult">
		SELECT T.*
		FROM t_clothing_itemsku T where T.fid=#{id}
	</select>
	<select id="getItemSkuByList" parameterType="map" resultMap="ItemSkuResult">
		SELECT data.*
		FROM t_clothing_itemsku data
		<where> 1=1
		</where>
	</select>
	<insert id="insertItemSku" parameterType="com.clothing.model.item.ItemSku">
		insert into
		t_clothing_itemsku(fid,fkitemid,fsize,fcolor,fbarcode,fstatus)
		VALUES(#{id},#{item.id},#{size},#{color},#{barCode},#{status})
	</insert>

	<update id="updateItemSku" parameterType="com.clothing.model.item.ItemSku">
		update t_clothing_itemsku
		<set>
			<if test="cu!=null and cu!=''">fcu=#{cu},</if>
			<if test="item!=null and item!=''">fkitemid=#{item.id},</if>
			<if test="size!=null and size!=''">fsize=#{size},</if>
			<if test="color!=null and color!=''">fcolor=#{color},</if>
			<if test="barCode!=null and barCode!=''">fbarcode=#{barCode},</if>
			<if test="status!=null and status!=''">fstatus=#{status},</if>
		</set>
		where fid=#{id}
	</update>

	<delete id="deleteItemSkuById" parameterType="string">
		delete from t_clothing_itemsku where fid=#{id}
	</delete>

</mapper>